/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
    height: 100%;
    margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	text-decoration: none;
}
.bymia-container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.bymia-container > header{
    z-index: 100;
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
    text-align: left;
}
.bymia-container > header h1 {
    font-family: 'Pinyon Script', cursive;
	font-size: 72px;
	line-height: 35px;
	position: fixed;
	color: #ddd;
    text-shadow: 2px 2px 5px #cb70df;
}
.bymia-container > header h2 {
    width: 100px;
    font-family: 'Georgia', serif;
	font-size: 72px;
    font-style: italic;
    line-height: 1.2em;
    float: right;
    color: #cb70df;
    text-shadow: 2px 2px 5px #fbedff;
    margin-right: 10vw;
}

a.h1-txt > span {
    width: 240px;
    font-family: 'Pinyon Script', cursive;
	font-size: 72px;
	line-height: 1.2em;
    margin-left: 1vh;
	position: fixed;
    color: #fbedff;
    text-shadow: 2px 2px 5px #cb70df;
}
a.h1-txt > span:hover {
    text-shadow: 2px 2px 5px #fff;
}
a.h2-txt > span {
    width: 240px;
    font-family: 'Georgia', serif;
	font-size: 72px;
    font-style: italic;
    line-height: 1.2em;
    float: right;
    margin-left: 20vh;
    color: #cb70df;
    text-shadow: 2px 2px 5px #fbedff;
}
a.h2-txt > span:hover {
    text-shadow: 2px 2px 5px #fff;
}
span.home-img {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    background-image: url("http://1.bp.blogspot.com/-mkWAywrbk34/T_lngxqOtbI/AAAAAAAAAjo/O4u5l0belP8/s1600/rb+back+to+top+2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    opacity: .35;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
span.home-img:hover {
    opacity: .7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    text-decoration: none;
}
.bymia-container > header h2 {
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.bymia-page1 {
    position: relative;
    height: 100vh;
}
.bymia-content {
    position: relative;
}
.bymia-sectiontop {
    position: relative;
    margin-top: 10vh;
    padding-top: 10vh;
}
.bymia-section {
    position: relative;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 5vh;
    text-align: left;
    clear: both;
    background-color: rgba(64, 48, 64, 0.8);
}
.bymia-section > h2 {
    font-family: 'Pinyon Script', cursive;
    text-align: center;
    font-size: 56px;
	font-style: normal;
    padding-top: 2vh;
    line-height: 1.5em;
    color: #f0f0f0;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.bymia-section > h3 {
    font-family: 'Pinyon Script', cursive;
	text-align: center;
    font-size: 48px;
	font-style: normal;
    line-height: 1.8em;
	color: #c000c0;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
}
.bymia-section > h4 {
    font-family: Georgia, Times, serif;
	font-size: 26px;
	font-style: italic;
    line-height: 1.4em;
    margin-left: 4vw;
    margin-right: 4vw;
    color: #fbedff;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.bymia-section-alt {
    position: relative;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 5vh;
    text-align: left;
    clear: both;
    background-color: rgba(64, 64, 64, 0.8);
}
.bymia-section-alt > h2 {
    font-family: 'Pinyon Script', cursive;
    text-align: center;
    font-size: 56px;
	font-style: normal;
    padding-top: 2vh;
    line-height: 1.5em;
    color: #f0f0f0;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.bymia-section-alt > h3 {
    font-family: 'Pinyon Script', cursive;
	text-align: center;
    font-size: 48px;
	font-style: normal;
    line-height: 1.8em;
	color: #d000d0;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
}
.bymia-section-alt > h4 {
    font-family: Georgia, Times, serif;
	font-size: 26px;
	font-style: italic;
    line-height: 1.4em;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #fbedff;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.bymia-section-blog {
    position: relative;
    margin-left: 5vw;
    text-align: left;
    clear: both;
    background: rgba(64, 48, 64, 0.1);
}
.map-link {
    text-align: center;
}
th.descr {
    width: 60vw;
    font-family: 'Pinyon Script', cursive;
	text-align: left;
    font-size: 48px;
	font-style: normal;
    line-height: 1.8em;
	color: #d000d0;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
}
th.prix {
    width: 20vw;
    font-family: 'Pinyon Script', cursive;
	text-align: left;
    font-size: 48px;
	font-style: normal;
    line-height: 1.8em;
	color: #d000d0;
	text-shadow: 1px 1px 0px rgba(0,0,0,1);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.6);
}
th.pad {
    width: 10vw;
}
.th4 {
    font-family: Georgia, Times, serif;
	font-size: 26px;
	font-style: italic;
    line-height: 1.4em;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #d0d0d0;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}
.bymia-links {
    z-index: 9999;
    display: inline-block;
    top: 6vh;
    position: absolute;
    margin-left: 5vw;
    width: 80vw;
    font-family: Georgia;
	font-size: 100px;
	font-size: 18vw;
    font-style: italic;
    font-weight: 800;
	text-align: center;
}
.bymia-a {
    line-height: .52em;
    overflow: hidden;
}
.bymia-a a.link-1 span,
.bymia-a a.link-2 span,
.bymia-a a.link-3 span,
.bymia-a a.link-4 span {
    display: none;
}
.bymia-a a.link-1:hover span,
.bymia-a a.link-2:hover span,
.bymia-a a.link-3:hover span,
.bymia-a a.link-4:hover span {
    display: inline;
    position: absolute;
    text-decoration: none;
}
.bymia-a a.link-1 {
    color: rgba(139, 26, 137, 0.5);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.bymia-a a.link-2 {
    color: rgba(139, 26, 137, 0.5);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.bymia-a a.link-3 {
    color: rgba(139, 26, 137, 0.5);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.bymia-a a.link-4 {
    color: rgba(139, 26, 137, 0.5);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.bymia-txt {
    display: inline-block;
    top: 6vh;
    position: absolute;
    margin-left: 5vw;
    width: 80vw;
    font-family: Georgia;
	font-size: 100px;
	font-size: 18vw;
    font-style: italic;
    font-weight: 800;
	text-align: center;
    line-height: .52em;
    color: rgba(139, 26, 137, 0.6);
	text-shadow: 1px 1px 1px rgba(255,255,255,.6);
}
@media screen and (orientation: portrait) {
    .bymia-links {
        z-index: 9999;
        display: inline-block;
        top: 12vh;
        position: absolute;
        margin-left: -5vw;
        width: 100vw;
        font-family: Georgia;
        font-size: 100px;
        font-size: 25vh;
        font-style: italic;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
    }
    .bymia-a {
        line-height: .58em;
        overflow: hidden;
    }
    .bymia-txt {
        display: inline-block;
        top: 12vh;
        position: absolute;
        margin-left: -5vw;
        width: 100vw;
        font-family: Georgia;
        font-size: 100px;
        font-size: 25vh;
        font-style: italic;
        font-weight: 800;
        text-align: center;
        text-decoration: none;
        line-height: .58em;
    }
}
