/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
    height: 100%;
    margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	text-decoration: none;
}
.container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
    z-index: 100;
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1 {
    font-family: 'Pinyon Script', cursive;
	font-size: 72px;
	line-height: 35px;
	position: fixed;
	font-weight: 500;
	color: #ddd;
    text-shadow: 2px 2px 5px #cb70df;
}
.container > header h1 span.h1-txt {
    width: 240px;
    font-family: 'Pinyon Script', cursive;
	font-size: 72px;
	line-height: 35px;
	position: fixed;
	font-weight: 500;
	color: #ddd;
    text-shadow: 2px 2px 5px #cb70df;
}
.container > header h1 span.h1-txt:hover {
    text-shadow: 2px 2px 5px #fff;
}
span.home-img {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    background-image: url("http://1.bp.blogspot.com/-mkWAywrbk34/T_lngxqOtbI/AAAAAAAAAjo/O4u5l0belP8/s1600/rb+back+to+top+2.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    opacity: .35;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
span.home-img:hover {
    opacity: .7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    text-decoration: none;
}
.container > header h2 {
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
.bymia_return  {
}
div.bymia-page1 {
    position: relative;
    height: 100vh;
}
div.bymia-content {
    position: relative;
}
div.bymia-sectiontop {
    position: relative;
    margin-top: 10vh;
    padding-top: 10vh;
}
.bymia-section {
    position: relative;
    height: 100vh;
    width: 80vw;
    margin-left: 10vw;
    background-color: rgba(64, 48, 64, 0.6);
}
div.bymia-links {
    z-index: 9999;
    display: inline-block;
    top: 6vh;
    position: absolute;
    margin-left:10vw;
    width: 60vw;
    font-family: Georgia;
	font-size: 100px;
	font-size: 18vw;
    font-style: italic;
	text-align: center;
	font-weight: 800;
}
div.bymia-a {
    line-height: .52em;
    overflow: hidden;
}
div.bymia-a a.link-1 span,
div.bymia-a a.link-2 span,
div.bymia-a a.link-3 span,
div.bymia-a a.link-4 span {
    display: none;
}
div.bymia-a a.link-1:hover span,
div.bymia-a a.link-2:hover span,
div.bymia-a a.link-3:hover span,
div.bymia-a a.link-4:hover span {
    display: inline;
    position: absolute;
    text-decoration: none;
}
div.bymia-a a.link-1 {
    color: rgba(255, 128, 255, 0.2);
}
div.bymia-a a.link-2 {
    color: rgba(255, 128, 255, 0.2);
}
div.bymia-a a.link-3 {
    color: rgba(255, 128, 255, 0.2);
}
div.bymia-a a.link-4 {
    color: rgba(255, 128, 255, 0.2);
}
.bymia-txt {
    display: inline-block;
    top: 6vh;
    position: absolute;
    margin-left: 10vw;
    width: 60vw;
    font-family: Georgia;
	font-size: 100px;
	font-size: 18vw;
    font-style: italic;
	text-align: center;
	font-weight: 800;
    line-height: .52em;
    color: rgba(255, 128, 255, 0.5);
    text-shadow: 2px 2px 2px #111;
}
.bymia-txt bymia-menu1 {
    line-height: .52em;
    color: rgba(209, 95, 238, 0.8);
}
.bymia-menu2 {
    line-height: .52em;
    color: rgba(209, 95, 238, 0.7);
}
.bymia-menu3 {
    line-height: .52em;
    color: rgba(209, 95, 238, 0.6);
}
.bymia-menu4 {
    line-height: .52em;
    color: rgba(209, 95, 238, 0.5);
}
@media screen and (orientation: portrait) {
    div.bymia-links {
        z-index: 9999;
        display: inline-block;
        top: 12vh;
        position: absolute;
        margin-left: -10vw;
        width: 100vw;
        font-family: Georgia;
        font-size: 100px;
        font-size: 25vh;
        font-style: italic;
        text-align: center;
        font-weight: 800;
        text-decoration: none;
    }
    div.bymia-a {
        line-height: .58em;
        overflow: hidden;
    }
    div.bymia-txt {
        display: inline-block;
        top: 12vh;
        position: absolute;
        margin-left: -10vw;
        width: 100vw;
        font-family: Georgia;
        font-size: 100px;
        font-size: 25vh;
        font-style: italic;
        text-align: center;
        font-weight: 800;
        text-decoration: none;
        line-height: .58em;
    }
    .container > header h1 {
        font-family: 'Pinyon Script', cursive;
        font-size: 48px;
        line-height: 35px;
        position: fixed;
        font-weight: 500;
        color: #ddd;
        text-shadow: 2px 2px 5px #cb70df;
    }
}
